* {
    box-sizing: border-box;
    margin: 0;
}

body {
    margin:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #444;
}

img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Dynamic sizing and column count */
.grid-2 {
    min-height: 100vh;
    /* Address the items as a group */
    /* default value is stretch */
    align-content: center;
    justify-content: center;

    /* Position contents within cell */
    justify-items: end;
    align-items: end;

    display: grid;
    /* Create space between items */
    grid-gap: 2px;
    /* Uncomment to see differences, and comment the other line out */
    /* grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); */
    /* grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); */
    grid-template-columns: repeat(auto-fit, 150px);
    /* Dont define explicit rows, but implicit */
    grid-auto-rows: 200px;

    background-color: coral;
}

.grid-2 .grid-item {
    background-color: mistyrose;
    padding: 4px;
    height: 100%;
}

/* Grid to position the image */
.grid-2 .grid-item:first-child {
    display: grid;
    grid-template-columns: 1fr;

    grid-template-rows: auto 150px;
}

.grid-2 .grid-item:nth-of-type(odd) {
    /* Overwrite position of cell contents for idividual grid items */
    justify-self: start;
    align-self: start;
}

/* Template named areas */
.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "siteheader" "article" "aside";
}

.site-header {
    grid-area: siteheader;
    padding: 8px 20px;
    border-bottom: 2px solid #444;
}

article {
    /* grid-area: article; */
    padding: 8px 20px;
}

.page-sidebar {
    grid-area: aside;
    padding: 8px 20px;
    background-color: #eee;
}

/* Target larger screens */
@media (min-width:800px) {
    .grid {
        grid-template-columns: 1fr 400px;
        grid-template-areas: "siteheader siteheader" "article aside";
    }
}