body {
    margin:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #444;
}

/* Dynamic sizing and column count */
.grid-2 {
    display: grid;
    /* Create space between items */
    grid-gap: 2px;
    /* Uncomment to see differences, and comment the other line out */
    /* grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); */
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.grid-2 div {
    background-color: mistyrose;
    padding: 4px;
}

/* Template named areas */
.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "siteheader" "article" "aside";
}

.site-header {
    grid-area: siteheader;
    padding: 8px 20px;
}

article {
    /* grid-area: article; */
    padding: 8px 20px;
}

.page-sidebar {
    grid-area: aside;
    padding: 8px 20px;
    background-color: #eee;
}

/* Target larger screens */
@media (min-width:800px) {
    .grid {
        grid-template-columns: 1fr 400px;
        grid-template-areas: "siteheader siteheader" "article aside";
    }
}